<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body>
    <main>    
        <!--breadcrumb section start-->
        <div class="gstore-breadcrumb position-relative z-1 overflow-hidden mt--50">
            <img th:src="@{/img/shapes/bg-shape-6.png}" alt="bg-shape" class="position-absolute start-0 z--1 w-100 bg-shape">
            <img th:src="@{/img/shapes/pata-xs.svg}" alt="pata" class="position-absolute pata-xs z--1 vector-shape">
            <img th:src="@{/img/shapes/onion.png}" alt="onion" class="position-absolute z--1 onion start-0 top-0 vector-shape">
            <img th:src="@{/img/shapes/frame-circle.svg}" alt="frame circle"
                class="position-absolute z--1 frame-circle vector-shape">
            <img th:src="@{/img/shapes/leaf.svg}" alt="leaf" class="position-absolute z--1 leaf vector-shape">
            <img th:src="@{/img/shapes/garlic-white.png}" alt="garlic" class="position-absolute z--1 garlic vector-shape">
            <img th:src="@{/img/shapes/roll-1.png}" alt="roll" class="position-absolute z--1 roll vector-shape">
            <img th:src="@{/img/shapes/roll-2.png}" alt="roll" class="position-absolute z--1 roll-2 vector-shape">
            <img th:src="@{/img/shapes/pata-xs.svg}" alt="roll" class="position-absolute z--1 pata-xs-2 vector-shape">
            <img th:src="@{/img/shapes/tomato-half.svg}" alt="tomato" class="position-absolute z--1 tomato-half vector-shape">
            <img th:src="@{/img/shapes/tomato-slice.svg}" alt="tomato" class="position-absolute z--1 tomato-slice vector-shape">
            <img th:src="@{/img/shapes/cauliflower.png}" alt="tomato" class="position-absolute z--1 cauliflower vector-shape">
            <img th:src="@{/img/shapes/leaf-gray.png}" alt="tomato" class="position-absolute z--1 leaf-gray vector-shape">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-content">
                            <h2 class="mb-2 text-center" style="text-transform: capitalize;">thanh toán</h2>
                            <nav>
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item fw-bold" aria-current="page"><a th:href="@{/foodshop}">Trang chủ</a></li>
                                    <li class="breadcrumb-item fw-bold" aria-current="page">Trang</li>
                                    <li class="breadcrumb-item fw-bold" aria-current="page">Thanh Toán</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--breadcrumb section end-->
        <div th:replace="~{/cart/view :: shopping}"></div>
        <!--checkout section start-->
        <div class="checkout-section ptb-120">
            <div class="container">
                <div class="row g-4">
                    <div class="col-xl-8">
                        <div class="checkout-steps">
                            <div class="d-flex justify-content-between">
                                <h4 class="mb-5">Địa chỉ giao hàng</h4>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#addAddressModal" class="fw-semibold"><i
                                        class="fas fa-plus me-1"></i>Thêm địa chỉ</a>
                            </div>
                            <div class="row g-4">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="tt-address-content">
                                        <input type="radio" class="tt-custom-radio" checked name="tt-radio" id="tt-radio-1">
                                        <label for="tt-radio-1" class="tt-address-info bg-white rounded p-4 position-relative">
                                            <strong>Los Angeles </strong>
                                            <address class="fs-sm mb-0">
                                                76 Ferny Avenue <br>
                                                Oakwood Qld 4670
                                            </address>
                                            <a href="#" class="tt-edit-address checkout-radio-link position-absolute">Edit</a>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="tt-address-content">
                                        <input type="radio" class="tt-custom-radio" name="tt-radio" id="tt-radio-2">
                                        <label for="tt-radio-2" class="tt-address-info bg-white rounded p-4 position-relative">
                                            <strong>Los Angeles </strong>
                                            <address class="fs-sm mb-0">
                                                76 Ferny Avenue <br>
                                                Oakwood Qld 4670
                                            </address>
                                            <a href="#" class="tt-edit-address checkout-radio-link position-absolute">Edit</a>
                                        </label>
                                    </div>
                                </div>
                            </div>
        
        
                            <h4 class="mb-5 mt-8">Billing Address</h4>
                            <div class="row g-4">
                                <div class="col-lg-4 col-sm-6">
                                    <div class="tt-address-content">
                                        <input type="radio" class="tt-custom-radio" name="tt-radio-billing" checked
                                            id="tt-radio-3">
                                        <label for="tt-radio-3" class="tt-address-info bg-white rounded p-4 position-relative">
                                            <strong>Los Angeles </strong>
                                            <address class="fs-sm mb-0">
                                                76 Ferny Avenue <br>
                                                Oakwood Qld 4670
                                            </address>
                                            <a href="#" class="tt-edit-address checkout-radio-link position-absolute">Edit</a>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="tt-address-content">
                                        <input type="radio" class="tt-custom-radio" name="tt-radio-billing" id="tt-radio-4">
                                        <label for="tt-radio-4" class="tt-address-info bg-white rounded p-4 position-relative">
                                            <strong>Los Angeles </strong>
                                            <address class="fs-sm mb-0">
                                                76 Ferny Avenue <br>
                                                Oakwood Qld 4670
                                            </address>
                                            <a href="#" class="tt-edit-address checkout-radio-link position-absolute">Edit</a>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="tt-address-content">
                                        <input type="radio" class="tt-custom-radio" name="tt-radio-billing" id="tt-radio-5">
                                        <label for="tt-radio-5" class="tt-address-info bg-white rounded p-4 position-relative">
                                            <strong>Los Angeles </strong>
                                            <address class="fs-sm mb-0">
                                                76 Ferny Avenue <br>
                                                Oakwood Qld 4670
                                            </address>
                                            <a href="#" class="tt-edit-address checkout-radio-link position-absolute">Edit</a>
                                        </label>
                                    </div>
                                </div>
        
                            </div>
        
                            <h4 class="mt-8">Payment Method</h4>
                            <div class="checkout-form mt-4 py-7 px-5 bg-white rounded-2">
                                <div class="form-title d-flex align-items-center mb-5">
                                    <div class="theme-radio">
                                        <input type="radio" id="shipment" checked>
                                        <span class="custom-radio"></span>
                                    </div>
                                    <label class="h6 mb-0 ms-2" for="shipment">Credit Card or Debit Card</label>
                                </div>
                                <form>
                                    <div class="row g-4">
                                        <div class="col-sm-12">
                                            <div class="label-input-field mt-0">
                                                <input type="text" placeholder="****  **** **** 7898">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="label-input-field mt-0">
                                                <input type="text" placeholder="12 / 24">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="label-input-field mt-0">
                                                <input type="text" placeholder="****">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="label-input-field mt-0">
                                                <input type="tel" placeholder="478958">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="label-input-field">
                                                <label>City</label>
                                                <input type="text" placeholder="City">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="label-input-field">
                                                <label>State</label>
                                                <input type="text" placeholder="State">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="label-input-field">
                                                <label>Zip Code</label>
                                                <input type="text" placeholder="Dhaka-1230">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center gap-2 mt-4 flex-wrap">
                                        <div class="checkbox d-flex align-items-center gap-2 me-3">
                                            <div class="theme-checkbox flex-shrink-0">
                                                <input type="checkbox" id="save-card">
                                                <span class="checkbox-field"><i class="fa-solid fa-check"></i></span>
                                            </div>
                                            <label for="save-card">Save this Credit Card for later use</label>
                                        </div>
                                        <div class="checkbox d-flex align-items-center gap-2">
                                            <div class="theme-checkbox flex-shrink-0">
                                                <input type="checkbox" id="billing-info">
                                                <span class="checkbox-field"><i class="fa-solid fa-check"></i></span>
                                            </div>
                                            <label for="billing-info">Billing same as Shipping address</label>
                                        </div>
                                    </div>
                                    <div class="mt-6 d-flex">
                                        <button type="submit" class="btn btn-secondary btn-md me-3">Use this Card</button>
                                        <button type="button"
                                            class="btn btn-outline-secondary border-secondary btn-md">Cancel</button>
                                    </div>
                                </form>
                            </div>
                            <div
                                class="checkout-radio d-flex align-items-center justify-content-between gap-3 bg-white rounded p-4 mt-4">
                                <div class="radio-left d-inline-flex align-items-center">
                                    <div class="theme-radio">
                                        <input type="radio" id="paypal">
                                        <span class="custom-radio"></span>
                                    </div>
                                    <label for="paypal" class="ms-2 h6 mb-0">Paypal</label>
                                </div>
                                <div class="radio-right text-end">
                                    <img src="assets/img/brands/paypal-black.png" alt="paypal" class="img-fluid">
                                </div>
                            </div>
                        </div>
        
        
                        <!--add address modal start-->
                        <!-- Modal -->
                        <div class="modal fade" id="addAddressModal">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="btn-close float-end" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
        
                                        <div class="gstore-product-quick-view bg-white rounded-3 py-6 px-4">
                                            <h2 class="modal-title fs-5 mb-3">Thêm địa chỉ mới</h2>
                                            <div class="row align-items-center g-4 mt-3">
                                                <form action="#">
                                                    <div class="row g-4">
                                                        <div class="col-sm-6">
                                                            <div class="label-input-field">
                                                                <label>First Name</label>
                                                                <input type="text" placeholder="Saiful">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="label-input-field">
                                                                <label>Last Name</label>
                                                                <input type="text" placeholder="Talukdar">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="label-input-field">
                                                                <label>Street Address</label>
                                                                <input type="text"
                                                                    placeholder="Mountain View, California, United States">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="label-input-field">
                                                                <label>Mobile</label>
                                                                <input type="tel" placeholder="Phone Number">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="label-input-field">
                                                                <label>Email</label>
                                                                <input type="email" placeholder="Your Email">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="label-input-field">
                                                                <label>Apt Number</label>
                                                                <input type="text" placeholder="Apart Number">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="label-input-field">
                                                                <label>State</label>
                                                                <input type="text" placeholder="Dhaka">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="label-input-field">
                                                                <label>Zip Code</label>
                                                                <input type="text" placeholder="Dhaka-1230">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-6 d-flex">
                                                        <button type="submit" class="btn btn-secondary btn-md me-3">Use this
                                                            Address</button>
                                                        <button type="submit"
                                                            class="btn btn-outline-secondary border-secondary btn-md">Cancel</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--add address modal end-->
                    </div>
                    <div class="col-xl-4">
                        <div class="checkout-sidebar">
                            <div class="sidebar-widget checkout-sidebar py-6 px-4 bg-white rounded-2">
                                <div class="widget-title d-flex">
                                    <h5 class="mb-0 flex-shrink-0">Chi tiết hóa đơn</h5>
                                    <span class="hr-line w-100 position-relative d-block align-self-end ms-1"></span>
                                </div>
                                <table class="sidebar-table w-100 mt-5">
                                    <tr>
                                        <td>Tổng sản phẩm({{cart.count}}):</td>
                                        <td class="text-end">{{cart.amount | currency:'':'0'}} đ</td>
                                    </tr>
                                    <tr>
                                        <td>Phí vận chuyển:</td>
                                        <td class="text-end">Miễn phí</td>
                                    </tr>
                                </table>
                                <span class="sidebar-spacer d-block my-4 opacity-50"></span>
                                <div class="d-flex align-items-center justify-content-between">
                                    <h6 class="mb-0 fs-md">Tạm tính</h6>
                                    <h6 class="mb-0 fs-md">{{cart.amount | currency:'':'0'}} đ</h6>
                                </div>
                                <button type="submit" class="btn btn-primary btn-md rounded mt-6 w-100">Thanh toán</button>
                                <p class="mt-3 mb-0 fs-xs">By Placing your order your agree to our company <a
                                        href="#">Privacy-policy</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--checkout section end-->
    </main>

</body>

</html>