<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body>
    <main>
        <div th:replace="~{/cart/view :: shopping}"></div>
    
        <form action="">
            <label for="">Address</label>
            <input type="text">
            <label for="">Ngày đặt:</label>
            <input type="date">
            <button ng-click="order.purchase()">đặt hàng</button>
        </form>
    </main>

</body>

</html>