

<div ng-controller="productCtrl">
	Đây là trang product

	<form action="">
		<p>
			<label for="">Tên Sản phẩm</label> <input ng-model="form.name" type="text" placeholder="nhập tên sản phẩm" >
		</p>


		<p>
			<label for="">Giá sản phẩm</label> <input ng-model="form.price" type="number" value="0" min="1000" required>

		</p>
		<p>
			<label for="">Số lượng:</label> <input ng-model="form.quantity" type="number" min="0" required>

		</p>

		<p>
			<label for="">image</label> <img src="/assets/images/{{form.image}}" style="max-width: 100%;"
				alt="Chưa có j"> <input type="file" onchange="angular.element(this).scope().imageChanged(this.files)">
		</p>
		<p>
			<label for="">categoy code</label>
			<select ng-model="form.category.id">
				<option ng-repeat="c in cates" ng-value="c.id">{{c.name}}</option>
			</select>
		</p>


		<p>
			<label for="">Trạng thái</label> <input type="radio" name="checked" id=""  required> Còn Hàng 
			<input type="radio"
				name="checked" id=""  required>
			Hết hàng
		</p>
		<p>
			<label> Ngày tạo</label> <input ng-model="form.createdate" type="date"  required>
		</p>

		<p>
			<button ng-click="create()">Create</button>
			<button ng-click="update()">Update</button>
			<button ng-click="delete()">Delete</button>
			<button ng-click="reset()">Reset</button>
		</p>

	</form>

	<table border="1">
		<thead>
			<tr>
				<th>Id</th>
				<th>Image</th>
				<th>Name</th>
				<th>Category Code</th>
				<th>Date</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Trạng thái</th>
				<th>Hành động</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="p in items">
				<td>{{p.productid}}</td>
				<td style="width: 100px; height: 100px;"><img src="/assets/images/{{p.image}}" alt="hình đang tải" style="width: 100%;" height="100%">
				</td>
				<td>{{p.name}}</td>
				<td>{{p.category.id}}</td>
				<td>{{p.createdate | date : "dd/MM/yyyy"}} {{p.createdate | date : "HH:mm:ss"}}</td>
				<td>{{p.price | currency : "" : "0"}} vnđ</td>
				<td>{{p.quantity}}</td>
				<td></td>
				<td>
					<button ng-click="edit(p)">edit</button>
					<button ng-click="delete(p)">remove</button>
				</td>
			</tr>
		</tbody>
	</table>

	<ul class="listPage">
		
	</ul>
</div>