<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="dynamic(main)">

<head>
<meta charset="UTF-8" name="viewport"
	content="width=device-width, initial-scale=1.0">
<title>FoodShop</title>

<!-- Favicon -->
<link rel="shortcut icon" href="{img/favicon.png}" type="{image/png}">

<!-- Goggle Fonts-->
<link
	href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto+Serif"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display"
	rel="stylesheet">


<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
	integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"
	integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--build:css-->
<link rel="stylesheet" th:href="@{/css/main.css}">
<!-- endbuild -->
</head>

<body ng-app="myapp" ng-controller="myctrl">
	<!--preloader start-->
	<div id="preloader">
		<img th:src="@{/img/preloader.gif}" alt="preloader" width="450" class="img-fluid">
	</div>
	<!--preloader end-->
	<div class="main-wrapper">
		<div th:replace="~{@{/layout/header.html}}"></div>


		<main th:replace="${main}"></main>

		<div th:replace="~{@{/layout/footer.html}}"></div>
		<!--modal box-->
		
		<div class="modal fade" id="quickview_modal">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
						<div class="gstore-product-quick-view bg-white rounded-3 py-6 px-4">
							<div class="row align-items-center g-4">
								<div class="col-xl-6 align-self-end">
									<div class="quickview-double-slider">
										<div class="quickview-product-slider swiper">
											<div class="swiper-wrapper">
												<div class="swiper-slide text-center">
													<img th:src="@{/img/products/p-lg-1.png}" alt="jam" class="img-fluid">
												</div>
												<div class="swiper-slide text-center">
													<img th:src="@{/img/products/p-lg-2.png}" alt="jam" class="img-fluid">
												</div>
												<div class="swiper-slide text-center">
													<img th:src="@{/img/products/p-lg-3.png}" alt="jam" class="img-fluid">
												</div>
												<div class="swiper-slide text-center">
													<img th:src="@{/img/products/p-lg-4.png}" alt="jam" class="img-fluid">
												</div>
											</div>
										</div>
										<div class="product-thumbnail-slider swiper mt-80">
											<div class="swiper-wrapper">
												<div
													class="swiper-slide product-thumb-single rounded-2 d-flex align-items-center justify-content-center">
													<img th:src="@{/img/products/thumb-sm-1.png}" alt="jam" class="img-fluid">
												</div>
												<div
													class="swiper-slide product-thumb-single rounded-2 d-flex align-items-center justify-content-center">
													<img th:src="@{/img/products/thumb-sm-2.png}" alt="jam" class="img-fluid">
												</div>
												<div
													class="swiper-slide product-thumb-single rounded-2 d-flex align-items-center justify-content-center">
													<img th:src="@{/img/products/thumb-sm-3.png}" alt="jam" class="img-fluid">
												</div>
												<div
													class="swiper-slide product-thumb-single rounded-2 d-flex align-items-center justify-content-center">
													<img th:src="@{/img/products/thumb-sm-4.png}" alt="jam" class="img-fluid">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-6">
									<div class="product-info">
										<h4 class="mt-1 mb-3">Three Carrot Vegetables <br> Peruvian Cuisine</h4>
										<div class="d-flex align-items-center flex-nowrap star-rating fs-xxs mb-2">
											<ul class="d-flex align-items-center me-2">
												<li class="text-warning"><i class="fa-solid fa-star"></i></li>
												<li class="text-warning"><i class="fa-solid fa-star"></i></li>
												<li class="text-warning"><i class="fa-solid fa-star"></i></li>
												<li class="text-warning"><i class="fa-solid fa-star"></i></li>
												<li class="text-warning"><i class="fa-solid fa-star"></i></li>
											</ul>
											<span class="flex-shrink-0">(5.2k Reviews)</span>
										</div>
										<div class="pricing mt-2">
											<span class="fw-bold fs-xs text-danger">$140.00</span>
											<span class="fw-bold fs-xs deleted ms-1">$240.00</span>
										</div>
										<div class="widget-title d-flex mt-4">
											<h6 class="mb-1 flex-shrink-0">Description</h6>
											<span class="hr-line w-100 position-relative d-block align-self-end ms-1"></span>
										</div>
										<p class="mb-3">Clicks-and-mortar "outside the bethinking. Interactively disseminate
											innovative intellectual relationships. </p>
										<ul class="d-flex flex-column gap-2">
											<li><span class="me-2 text-primary"><i
														class="fa-solid fa-circle-check"></i></span>Natural ingredients</li>
											<li><span class="me-2 text-primary"><i
														class="fa-solid fa-circle-check"></i></span>Tastes better with milk</li>
											<li><span class="me-2 text-primary"><i
														class="fa-solid fa-circle-check"></i></span>Vitamins B2, B3, B5 and B6
											</li>
											<li><span class="me-2 text-primary"><i
														class="fa-solid fa-circle-check"></i></span>Refrigerate for freshness
											</li>
										</ul>
										<h6 class="fs-md mb-2 mt-3">Weight:</h6>
										<ul class="product-radio-btn mb-4 d-flex align-items-center gap-2">
											<li>
												<input type="radio" name="weight" value="250g" checked>
												<label>150g</label>
											</li>
											<li>
												<input type="radio" name="weight" value="250g">
												<label>500g</label>
											</li>
											<li>
												<input type="radio" name="weight" value="250g">
												<label>1kg</label>
											</li>
										</ul>
										<div class="d-flex align-items-center gap-4 flex-wrap">
											<div class="product-qty d-flex align-items-center">
												<button class="decrese">-</button>
												<input type="text" value="01">
												<button class="increase">+</button>
											</div>
											<a href="#" class="btn btn-secondary btn-md"><span class="me-2"><i
														class="fa-solid fa-cart-plus"></i></span>Add to Cart</a>
										</div>
										<div class="categories mt-4">
											<a href="#" class="btn btn-outline btn-sm">Vegetable</a>
											<a href="#" class="btn btn-outline btn-sm">Healthy</a>
											<a href="#" class="btn btn-outline btn-sm">Organic</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!--modal box end-->
	</div>


<!--scroll bottom to top button start-->
<button class="scroll-top-btn">
	<i class="fa-regular fa-hand-pointer"></i>
</button>

</body>
<script th:src="@{/script/client.js}"></script>
<script th:src="@{/js/vendors/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/vendors/jquery-ui.min.js}"></script>
<script th:src="@{/js/vendors/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/vendors/swiper-bundle.min.js}"></script>
<script th:src="@{/js/vendors/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/vendors/simplebar.min.js}"></script>
<script th:src="@{/js/vendors/parallax-scroll.js}"></script>
<script th:src="@{/js/vendors/isotop.pkgd.min.js}"></script>
<script th:src="@{/js/vendors/countdown.min.js}"></script>
<script th:src="@{/js/vendors/range-slider.js}"></script>
<script th:src="@{/js/vendors/waypoints.js}"></script>
<script th:src="@{/js/vendors/counterup.min.js}"></script>
<script th:src="@{/js/vendors/typer.js}"></script>
<script th:src="@{/js/app.js}"></script>

</html>