<div ng-controller="authori-Ctrl">
    Đây là trang admin acc

    <form action="">
        <p>
            <label for="">Tên Nhân viên:</label>
            <input type="text" ng-model="form.acc.name">
        </p>
        <p>
            <label for="">email:</label>
            <input type="email" ng-model="form.acc.email">
        </p>
        <p>
            <label for="">Tài khoản:</label>
            <input type="text" ng-model="form.acc.username">
        </p>
        <p>
            <label for="">Mật khẩu:</label>
            <input type="password" ng-model="form.acc.password">
        </p>
        <p>
            <label for="">SĐT:</label>
            <input type="number" ng-model="form.acc.phoneNumber">
        </p>
        <p>
            <label for="">vai trò:</label>
            <select name="" id="" ng-model="form.roles.id">
                <option value="">Chọn vai trò</option>
                <option ng-repeat="role in roles" ng-value="role.id">{{role.roleName}}</option>
            </select>
        </p>

        <p>
            <button ng-click="create()">Create</button>
            <button ng-click="update()">Update</button>
            <button ng-click="delete()">Delete</button>
            <button ng-click="reset()">Reset</button>
        </p>
    </form>



    <table border="1">
        <thead>
            <tr>
                <th></th>
                <th ng-repeat="role in roles">{{role.roleName}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="acc in admin">
                <td>{{acc.name}}</td>
                <td style="width: 100px; height: 100px;"><img src="/assets/images/{{a.image}}" alt="hình đang tải"
                        style="width: 100%;" height="100%">
                </td>
                <th ng-repeat="role in roles">
                    <input type="checkbox" ng-checked="authori_of(acc,role)" ng-click="authori_changed(acc,role)">
                </th>
                <td>
                    <button ng-click="edit(a)">edit</button>
                    <button ng-click="delete(a)">remove</button>
                </td>
            </tr>
        </tbody>
    </table>

    <ul class="listPage">

    </ul>
</div>