<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body>
    <main>
        <!-- <div th:fragment="shopping">
            <div>Giỏ hàng</div>
            <a th:href="@{/foodshop/product/}">về lại giỏ hàng</a>
            <table border="1">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody ng-repeat="item in cart.items">
                    <tr>
                        <td>{{item.image}}</td>
                        <td>{{item.name}}</td>
                        <td>
                            <input ng-change="cart.saveToLocalStorage()" id="qty" ng-model="item.qty" value="1" min="1"
                                max="{{item.quantity}}" type="number" required="required">
                        </td>
                        <td>{{item.price * item.qty | currency:"":"0"}} đ</td>
                        <td>
                            <button ng-click="cart.remove(item.productid)">Remove</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <div>Tổng Tiền: {{cart.amount | currency:"":"0"}} đ</div>
                </tfoot>
            </table>
            <div>
                <button ng-click="cart.clear()">clear</button>
                <button>
                    <a th:href="@{/order/checkout/}">Đặt hàng</a> 
                </button>
            </div>
        </div> -->
        <div class="gstore-breadcrumb position-relative z-1 overflow-hidden mt--50">
            <img th:src="@{/img/shapes/bg-shape-6.png}" alt="bg-shape"
                class="position-absolute start-0 z--1 w-100 bg-shape"> <img th:src="@{/img/shapes/pata-xs.svg}"
                alt="pata" class="position-absolute pata-xs z--1 vector-shape"> <img th:src="@{/img/shapes/onion.png}"
                alt="onion" class="position-absolute z--1 onion start-0 top-0 vector-shape">
            <img th:src="@{/img/shapes/frame-circle.svg}" alt="frame circle"
                class="position-absolute z--1 frame-circle vector-shape"> <img th:src="@{/img/shapes/leaf.svg}"
                alt="leaf" class="position-absolute z--1 leaf vector-shape"> <img
                th:src="@{/img/shapes/garlic-white.png}" alt="garlic"
                class="position-absolute z--1 garlic vector-shape"> <img th:src="@{/img/shapes/roll-1.png}" alt="roll"
                class="position-absolute z--1 roll vector-shape"> <img th:src="@{/img/shapes/roll-2.png}" alt="roll"
                class="position-absolute z--1 roll-2 vector-shape"> <img th:src="@{/img/shapes/pata-xs.svg}" alt="roll"
                class="position-absolute z--1 pata-xs-2 vector-shape"> <img th:src="@{/img/shapes/tomato-half.svg}"
                alt="tomato" class="position-absolute z--1 tomato-half vector-shape"> <img
                th:src="@{/img/shapes/tomato-slice.svg}" alt="tomato"
                class="position-absolute z--1 tomato-slice vector-shape"> <img th:src="@{/img/shapes/cauliflower.png}"
                alt="tomato" class="position-absolute z--1 cauliflower vector-shape"> <img
                th:src="@{/img/shapes/leaf-gray.png}" alt="tomato"
                class="position-absolute z--1 leaf-gray vector-shape">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-content">
                            <h2 class="mb-2 text-center" style="text-transform: capitalize;">Giỏ hàng</h2>
                            <nav>
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item fw-bold" aria-current="page"><a
                                            th:href="@{/foodshop}">Trang chủ</a></li>
                                    <li class="breadcrumb-item fw-bold" aria-current="page">Trang</li>
                                    <li class="breadcrumb-item fw-bold" aria-current="page">Giỏ hàng</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="cart-section ptb-120">
            <div class="container">
                <div class="select-all d-flex align-items-center justify-content-between bg-white rounded p-4">
                    <div class="d-inline-flex gap-2 align-items-center">
                        <label for="select-all"
                            style="text-transform: capitalize;font-weight: bold;font-size: 20px;">chi tiết giỏ
                            hàng</label>
                    </div>
                    <button ng-click="cart.clear()" class="btn-clearall">
                        <span class="me-2"><i class="fa-solid fa-trash-can"></i></span>Xóa
                        tất cả
                    </button>
                </div>
                <div th:fragment="shopping">
                    <div class="rounded-2 overflow-hidden">
                        <table class="cart-table w-100 mt-4 bg-white">
                            <thead>
                                <th>Ảnh</th>
                                <th>Tên sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Giá</th>
                                <th>Thao tác</th>
                            </thead>
                            <tbody ng-repeat="item in cart.items">
                                <tr>
                                    <td>{{item.image}}</td>
                                    <td class="text-start product-title">
                                        <h6 class="mb-0" style="text-align: center;">{{item.name}}</h6>
                                    </td>
                                    <td><input style="text-align: center;" ng-change="cart.saveToLocalStorage()"
                                            id="qty" ng-model="item.qty" value="1" min="1" max="{{item.quantity}}"
                                            type="number" required="required"></td>
                                    <td><span class="text-dark fw-bold">{{item.price *
                                            item.qty | currency:"":"0"}} đ</span></td>
                                    <td>
                                        <button class="remove_cart-item" ng-click="cart.remove(item.productid)">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="select-all d-flex align-items-center justify-content-end bg-white rounded p-4">


                    <div class="cart-summery bg-white rounded-2 pt-4 pb-6 px-5 mt-4">
                        <table class="w-100">
                            <tr class="border-top">
                                <td class="py-3">
                                    <h5 class="mb-0">Tổng tiền</h5>
                                </td>
                                <td class="text-end py-3">
                                    <h5 class="mb-0">{{cart.amount | currency:"":"0"}} đ</h5>
                                </td>
                            </tr>
                        </table>

                        <div class="btns-group d-flex gap-3">
                            <button type="submit" class="btn btn-primary btn-md rounded-1"> <a class="continue_buy"
                                    style="color: white;" th:href="@{/order/checkout}">Thanh
                                    toán</a> </button>
                            <button type="button"
                                class="btn btn-outline-secondary continue_buy border-secondary btn-md rounded-1">
                                <a class="continue_buy" th:href="@{/foodshop}">Tiếp
                                    tục mua hàng</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>

</html>